# C/C++
**/*.o
**/*.out

# Images
**/*.gif

# Latex
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.synctex.gz
**/*.pdf
**/*.toc
**/*.out
**/*.bbl
**/*.blg
**/*.bcf
**/*.run.xml
**/*.lof
**/*.lot
**/*.cb
**/*.cb2
**/*.lb

# Schrodinger solutions is very large
Exercises/m_7_schrodinger/ex_18/ex_18.dat
